
$sectionBackgroundColour: #DCDDE1;
$sectionTextColour: #2F3640;

@keyframes slide-in
{
    to
    {
        transform: translateX(0);
    }
}


/*The collection of sections.*/
.content
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

%section
{
    display: flex;
    background: $sectionBackgroundColour;
    justify-content: space-between;
    width: 100%;

    animation: slide-in 0.8s ease forwards;
}

.section
{
    @extend %section;
    transform: translateX(1000px);
}

.section-reversed
{
    @extend %section;
    flex-direction: row-reverse;
    transform: translateX(-1000px);
}

.section-text
{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    /*Ensures text wrapping on IE*/
    width: 100%;

    margin-left: 4px;
    margin-right: 4px;

    color: $sectionTextColour;
    text-align: center;
    letter-spacing: 1px;

    h1
    {
        /*Fix for text wrapping in IE.*/
        width: 100%;
    }

    p
    {
        /*Fix for text wrapping in IE.*/
        width: 100%;
    }
}

/*Default font size to 3.5vw when at iphone 4 width.*/
@media (max-width: 430px)
{
  .section-text
  {
      font-size: 3.5vw;
  }
}

/*#region 4k Font Size Support*/
@media (min-width: 2500px)
{
  .section-text
  {
      font-size: 24px;
  }
}
@media (min-width: 3400px)
{
  .section-text
  {
      font-size: 32px;
  }
}
/*#endregion*/

/*#region Slowly increase the space that the text in a section takes up.*/
@media (min-width: 700px)
{
  .section-text
  {
      flex: 1.2;

    h1
    {
        letter-spacing: 4px;
    }

    p
    {
        letter-spacing: 2px;
    }
  }
}

@media (min-width: 850px)
{
  .section-text
  {
      flex: 1.4;

    p
    {
        letter-spacing: 3px;
    }
  }
}

@media (min-width: 1250px)
{
  .section-text
  {
      flex: 1.6;
  }
}

@media (min-width: 1500px)
{
  .section-text
  {
      flex: 2.2;
  }
}
/*#endregion*/

.section-image
{
    flex: 1;

    img
    {
        width: 100%;
        height: 100%;

        /*Object-fit is not compatible in IE. Works in Edge but only for images.*/
        /*object-fit: cover;*/
    }
}


.important-info
{
    font-weight: bold;
}