
//Import font
@import url('https://fonts.googleapis.com/css?family=Lora');

//Variables
$textColour:#F5F6FA;
$backgroundColour:#2F3640;
$font: 'Lora';

//Import partial scss files.
@import 'header';
@import 'content';
@import 'footer';

body, html
{
    height: 100%;
    margin: 0px;
    font-family: $font, serif;
    background: $backgroundColour;
}